.section-aside {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-list {
  li {
    width: 270px;
  }
}

.section-list {
  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
}
.section-list {
  p {
    color: var(--main-color);
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.03em;
  }
}

.section-list {
  li {
    margin-right: 30px;
  }
}

.section-list {
  li:last-child {
    margin-right: 0px;
  }
}

.section-list {
  display: flex;
}

.section-img {
  h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.box-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.section-img {
  .list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.section-img {
  .item {
    margin-right: 30px;
  }
}

.section-img {
  .item:last-child {
    margin-right: 0px;
  }
}

.section-img {
  padding-bottom: 94px;
}
