footer {
  background-color: #2f303a;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: baseline;
}

.footer__logo {
  color: var(--primery-white-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  display: flex;
  margin-bottom: 20px;
  margin-right: 156px;
  & {
    .logo__text {
      color: var(--accent-color);
    }
  }
}

.footer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-right: 70px;
}

.footer__link {
  color: #ffffff99;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: block;
}
