footer {
  background-color: #2f303a;
  width: 100%;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width:767px) {
    text-align: center;
  }
  @media screen and (min-width:1200px){
  display: flex;
    align-items: baseline;
  }
}

.footer__tablet{
  @media screen and (min-width:768px) and (max-width:1199px) {
    display: flex;
justify-content: center;
  }
  @media screen and (min-width:1200px){
display: flex;}
}

.footer__wrap{
  @media screen and (min-width:1200px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 70px;
  }
}


.footer__logo {
  display: block;
  color: var(--primery-white-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;

  margin-bottom: 20px;

  & {
    .logo__text {
      color: var(--accent-color);
    }
  }
}

.footer__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  // margin-right: 70px;
}

.footer__link {
  color: #ffffff99;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  display: block;
}

.footer_contacts{
  margin-top: 20px;
}
