.header {
  border-bottom: 1px solid #ececec;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: var(--body-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  & {
    span {
      color: var(--accent-color);
    }
  }
}

.header__list {
  display: flex;
  margin-left: 93px;
  & .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__list .header__link:focus,
.header__list .header__link:hover {
  color: var(--accent-color);
}

.header__link {
  color: var(--body-color);
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__contacts {
  display: inline-flex;
  margin-left: auto;
  & .nav__link:focus:focus,
  & .nav__link:hover {
    color: var(--accent-color);
  }
}

.nav__contacts {
  .nav__link {
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    cursor: pointer;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav__contacts .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__icon {
  fill: currentColor;
  margin-right: 10px;
  & .nav__icon:hover,
  & .nav__icon:focus {
    fill: currentColor;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}

.header__item--active {
  position: relative;
  &::after {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;

    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
  }
}
