.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header__navigation {
  // display: flex;
  // align-items: center;
  // justify-content: baseline;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: var(--body-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  & {
    .logo__text {
      color: var(--accent-color);
    }
   padding: 16px 0 16px 0 ;
  }
}

.header__button{
  border: none;
  background-color: transparent;
  display: inline-flex;
  padding: 0px;
}

.header__button .header__icon-close-mob{
  display: none;
}

.header__button .is-open .header__icon-close-mob{
  display: block;
}

.header__button .is-open .header__icon-menu{
  display: none;
}



.header__list {
  // display: flex;
  display: none;
  margin-left: 93px;
  & .header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link {
  color: var(--body-color);
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.header__item{
  display: none;
}



.header__link--active {
  position: relative;
  &::after {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;

    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
  }
}

.contacts {
  // display: inline-flex;
  display: none;
  margin-left: auto;
  align-items: center;
}
.contacts__link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  & .nav__icon:hover,
  & .nav__icon:focus {
    fill: currentColor;
  }
}

.button-menu-open{
  position: absolute;
  top: 10px;
  right: 0px;
  border: none;
  background-color:inherit;
}

.mob-menu{
  position: fixed;
  background-color: #fff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding-bottom: 48px;
  .container{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;  }
}

.mob-menu-bottom{
  margin-top: auto;
}

.close-menu-btn{
position: absolute;
top: 10px;
right: 15px;
  margin-left: auto;
  border: none;
  background-color: inherit;
  padding: 0;
}

.mob-menu__link {
  font-family: Roboto;
  color: #212121;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
}

.mob-menu-top{
  margin-top: 48px;
  margin-left: 40px;
}

.mob-menu-bottom{
  margin-left: 40px;
}

.mob-menu__item:not(:last-child){
  margin-bottom: 32px;
}


.mob-menu__link-tel{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #2196F3;
}

.mob-menu__item-tel{
  margin-bottom: 32px;
}

.mob-menu__link-mail{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.02em;

color: #757575;

}

.mob-menu__item-mail{
  margin-bottom: 64px;
}

.mob-menu__list-social{
  display: flex;
}

.mob-menu__link-social{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}

.mob-menu__item-social{
  margin-right: 20px;
}
.mob-menu__item-social::after{
content: "";
border: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg);
width: 22px;
margin-right: 10px;
}
