.header {
  border-bottom: 1px solid #ececec;
  width: 100%;
}

.header__navigation{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media screen and (min-width: 768px){
    flex-wrap: nowrap;
}}

.header__list {
  margin-left: 93px;
  & .header__item:not(:last-child) {
    margin-right: 50px;
  }
@media screen and (max-width: 767px){
  display: none;
}
@media screen and (min-width: 768px){
  display: flex;
  flex-wrap: nowrap;
  margin-left: 88px;
}
}



.contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
  align-items: center;
  flex-wrap: wrap;
  }
  @media screen  and (max-width:1199px)
  {
  margin-left: 84px;
  }
}

.header__container{
  display: flex;
  align-items: center;

}

.button-menu-open{
  margin-left: auto;
  border: none;
  background-color:inherit;
  @media screen and (min-width:767px) {
    display: none;
  }
}
  

  .header__navigation {
      display: flex;
      align-items: center;
      justify-content: baseline;
  }
  
.logo {
  color: var(--body-color);
  text-decoration: none;
  font-family: raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  & {
    .logo__text {
      color: var(--accent-color);
    }
   padding: 16px 0 16px 0 ;
  }
}

.header__button{
  border: none;
  background-color: transparent;
  display: inline-flex;
  padding: 0px;
}

.header__link {
  color: var(--body-color);
  text-decoration: none;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}


.header__link--active {
  position: relative;
  &::after {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;

    content: '';
    position: absolute;
    left: 0px;
    bottom: -2px;
  }
}



.contacts__link {
  color: var(--main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  cursor: pointer;

  display: flex;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
@media screen and (min-width:768px) and (max-width:1200px){
  font-size: 12px;
}
}

    .contacts__link{
@media screen and (min-width:1200) {
  padding-top: 32px;
  padding-bottom: 32px;
}
  }

.contacts__item:not(:last-child) 
{
  @media screen and (min-width:768px) and (max-width: 1199px){
    margin-bottom: 10px;
  }
@media screen and (min-width:1200px) {
  
  margin-right: 50px;
}
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  & .nav__icon:hover,
  & .nav__icon:focus {
    fill: currentColor;
  }
}

.header__button {
  display: none;
}
