.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-text {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 1.1;
  letter-spacing: 0.03em;
}

.join-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-top: 20px;
  & + & {
    margin-left: 10px;
  }
}

.join-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: currentColor;
    background: var(--accent-color);
    border-radius: 50%;
  }
}

.join-icon {
  fill: currentColor;
}

.join-mail {
  margin-left: 93px;
}
.join-mail-list {
  display: flex;
  margin-top: 20px;
}

.join-mail-item + .join-mail-item {
  margin-left: 12px;
}

.mail-text {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  outline: none;
}
