
.join{
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width:1200px) {
  
  }
}


.join__text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 1.1;
  letter-spacing: 0.03em;
  margin-top: 60px; 
  @media screen and (min-width:768px){
    display: flex;
  }
}

.join__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-top: 20px;
  & + & {
    margin-left: 10px;
  }
}

.join__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: currentColor;
    background: var(--accent-color);
    border-radius: 50%;
  }
}

.join__icon {
  fill: currentColor;
}
