.work {
  display: flex;
  flex-wrap: wrap;
}

.work__item {
  width: 370px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.work__item:hover,
.work__item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  cursor: pointer;
}

.work__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.work__item:nth-child(3n + 3) {
  margin-right: 0;
}

.work__overlay {
  position: relative;
  overflow: hidden;
}

.work__text {
  position: absolute;
  display: flex;
  align-content: center;
  top: 0;
  left: 0;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__item:hover .work__text {
  transform: translateY(0);
}

.work-subtitle {
  padding: 20px 24px;
}

.work-subtitle__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.work-subtitle__text {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  width: 270px;
  color: #757575;
  margin-top: 4px;
  line-height: 1.87;
}
