.social {
  display: flex;
  justify-content: center;
  background-color: var(--primery-white-color);
}
.social__list {
  width: 44px;
  height: 44px;

  & + & {
    margin-left: 10px;
  }
}

.social__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}

.social__link:hover,
.social__link:focus {
  fill: #ffffff;
}

.social__icon {
  fill: currentColor;
}
