.subtitle h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.subtitle p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  width: 270px;
  color: #757575;
  margin-top: 4px;
  line-height: 1.87;
}

.subtitle {
  padding: 20px 24px;
}
