.subscribe__mail {
  margin-left: 93px;
}

.subscribe__text {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 1.1;
  letter-spacing: 0.03em;
}

.subscribe__list {
  display: flex;
  margin-top: 20px;
}

.subscribe__item + .subscribe__item {
  margin-left: 12px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  outline: none;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: var(--primery-white-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  padding: 10px 28px 10px 29px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe__icon {
  display: flex;
  margin-left: 10px;
}
