.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__list {
  display: flex;
}

.features__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0px;
  }
}

.features__wrap {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.features__text {
  color: var(--main-color);
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.works {
  padding-bottom: 94px;
}

.works__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.works__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}
