.works__list {
  position: relative;
}

.works__itema::after {
  position: absolute;
  content: 'ДЕСКТОПНЫЕ ПРИЛОЖЕНИЯ';
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  bottom: 0;
}
.works__itemb::after {
  position: absolute;
  content: 'МОБИЛЬНЫЕ ПРИЛОЖЕНИЯ';
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  bottom: 0;
}
.works__itemc::after {
  position: absolute;
  content: 'ДИЗАЙНЕРСКИЕ РЕШЕНИЯ';
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  bottom: 0;
}
.works_item:last-of-type {
  margin-right: 30px;
}
