.button-hero {
  display: block;
  text-align: center;
  color: var(--primery-white-color);
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;

  padding: 10px 32px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-hero {
  margin: 0 auto;
  text-align: center;
}
