.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  transition: opacity 500ms, visibility 500ms;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden {
  .backdrop__modal {
    transform: scale(1, 5) rotate(180deg);
    transition: transform 1000ms;
  }
}

.backdrop__modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0deg);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
  padding: 40px;
}

.backdrop__button--close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    fill: var(--accent-color);
    background-color: #fff;
  }
}

.backdrop__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 0.76;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 2px;
}
.backdrop__wrap {
  margin-top: 10px;
}
.backdrop__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.backdrop__icon {
  position: relative;
}
.backdrop__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 42px;
  padding-right: 15px;
  margin-top: 4px;
  &:focus {
    border-color: var(--accent-color);
  }
}

.backdrop__input:focus + .backdrop-close__icon {
  fill: var(--accent-color);
}

.backdrop__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  outline: none;
  margin-top: 4px;
  &-comment:focus {
    border-color: var(--accent-color);
  }
}

.backdrop__svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.backdrop-box {
  padding: 40px 40px;
}
.backdrop-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #757575;
  display: flex;
}

.backdrop-link {
  a {
    color: #2196f3;
    text-decoration: underline;
  }
}

.check-item {
  width: 16px;
  height: 15px;
  border: solid #212121;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.input-check {
  fill: var(--primery-white-color);
}

.backdrop__checkbox:checked + .backdrop-link .check-item {
  background-color: #2196f3;
  border: none;
}

.backdrop-box-button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding-top: 30px;
}
.button-backdrop {
  width: 200px;
  height: 50px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
  border-style: none;
  color: #ffffff;
}
