.hero {
  text-align: center;
  // padding-bottom: 210px;
  // padding-top: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.hero__title {
  color: var(--primery-white-color);
  font-weight: 900;
 
  font-size: 26px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 40px;
  margin-top: 118px;


  display: inline-block;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width:480px){
    width: 360px;
  }

  @media screen and (min-width:1200px) {
    width:696px;
    font-size: 44px;
  }
}
